// Study.scss
@import "./variables"; // 기존의 색상 변수 등은 별도 파일에 관리하는 것이 좋음

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.frame {
    display: flex;
    flex-direction: column;
    gap: 40px;

    > p {
        color: #d8d8d8;
        font-size: 18px;
    }
}

.innerFrame {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 340px;
}

.buttonDiv {
    display: flex;
    justify-content: flex-end;

    .problemButton {
        background-color: #8b8b8b;
        border-radius: 16px;
        padding: 10px 40px;
        border: none;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            background-color: #6f6f6f;
        }
    }
}
