.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //height: 90vh;
  background-color: #282B2F; // 전체 배경 색상

  .chat-ground{
    width: 80%;
    height: 500px;
    background-color: #AFAFAF; // 채팅 박스 배경색
    border-radius: 24px;
    margin-top: 50px;
    padding: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;  /*IE, Edge*/
    ::-webkit-scrollbar {
      display: none; /*Chrome, Safari, Opera*/
    }
    }


  .chat-box {
    flex: center;
    height: 85%;
    background-color: #E3E3E3; // 채팅 박스 배경색
    border-radius: 12px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;


    .chat-message {
      display: flex;
      flex-direction: column;
      margin: 24px;

      &.my-message {
        align-items: flex-end;

        .nickname {
          font-size: 16;
          color: #000000;
          margin-bottom: -12px;
        }

        p {
          background-color: #ffffff;
          color: #000000;
          padding: 0.8rem 1rem;
          border-radius: 16px 0px 16px 16px; //(top-left, top-right, bottom-right, bottom-left)
          font-size: 1rem;
          max-width: 40%;
          max-height: 200%;
          overflow-wrap: break-word;
        }
      }

      &.other-message {
        align-items: flex-start;

        .nickname {
          font-size: 16;
          color: #000000;
          margin-bottom: -12px;
        }

        p {
          background-color: #BBBBBB;
          color: #000000;
          padding: 0.8rem 1rem;
          border-radius: 0px 16px 16px 16px;
          font-size: 1rem;
          max-width: 50%;
          max-height: 200%;
          overflow-wrap: break-word;
        }
      }
    }
  }

  .chat-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 15px;

    input {
      flex: 1;
      padding: 15px;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      background-color: #F5F5F5;
      outline: none;
    }


    button {
      padding: 15px;
      background-color: #F5F5F5;
      color: #000000;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #8B8B8B;
      }
    }
  }
}
.deleteIcon {
  .delete-image {
    height: 55px;
    width: 55px;
    margin-top: 20px;
}
}