.content {
    display: flex;
    flex-direction: row;

    .question-content {
        display: flex;
        width: 30%;
        height: 94.5vh;
    }

    .editor-content {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 94.5vh;
    }

    .editor-placeholder {
        width: 70%;
        height: 94.5vh;
        color: #ffffff;
        padding: 36px;
    }
}
