.code-editor {
    height: 70%;
    width: 100%;

    .editor {
        background-color: #1e1e1e;
        height: 95%;
        padding: 16px 0;
        box-sizing: border-box;
    }

    .timer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5%;
        background-color: #2f2f2f;
        color: #ffffff;
        font-size: 24px;
    }
}
