$header-bg: #3f3f3f;
$color: #ffffff;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 18px;
    background-color: $header-bg;

    .logo {
        .logo-image {
            height: 24px;
            width: 64px;
        }
    }

    .nav {
        display: flex;
        gap: 15px;

        .nav-button {
            background: none;
            border: none;
            color: $color;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
        }
    }
}
