@import "./variables";

.calendarFrame {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
}

.calendar {
    font-size: 14px;
    color: $textColor;
    width: 400px;
    background-color: $calendarBackgroundColor;
    border-radius: $borderRadius;
    overflow: hidden;

    header {
        background-color: $calendarHeaderColor;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        th {
            height: 25px;

            &:nth-child(1) {
                background-color: $mondayColor;
            }

            &:nth-child(2) {
                background-color: $tuesdayColor;
            }

            &:nth-child(3) {
                background-color: $wednesdayColor;
            }

            &:nth-child(4) {
                background-color: $thursdayColor;
            }

            &:nth-child(5) {
                background-color: $fridayColor;
            }

            &:nth-child(6) {
                background-color: $saturdayColor;
            }

            &:nth-child(7) {
                background-color: $sundayColor;
            }
        }

        td {
            height: 55px;
            position: relative;
            background-color: $calendarBackgroundColor;
            color: #000000;
            border: 1px solid #000000;
            text-align: center;
            cursor: pointer;


            p {
                position: absolute;
                top: 2px;
                right: 5px;
                text-align: right;
                margin: 0;
                font-size: 14px;
            }
        }
    }
} 

.studyIcon {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

.popup {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    gap: 5px;
}

button {
    background-color: #f58585;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap; 
    display: inline-block;
}
