@import "./variables"; 

.membersFrame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.memberDiv {
    padding-left: 20px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    width: 250px;
    background-color: white;
    font-size: 14px;


    > img {
        max-width: 35px;
        max-height: 35px;
        margin-right: 20px;
    }
}
