@import "./variables"; 

.membersFrame {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.memberDiv {
    padding: 15px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    width: 250px;


    > img {
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
    }
}
